.student-form {
  margin-top: 30px;
}

.component-body-container{
    background-image: linear-gradient(darkblue,lightblue);
    color: gold;
}

.label-control {
  color: greenyellow;
  font-size: 1.15rem;
  margin-right: 15px;
}

.input-control {
  width: 300px;
  min-width: 100px;
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: wheat;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.9rem;
  outline: none;
}

.student-info-container {
  font-size: 1rem;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-image: linear-gradient(lightgreen,yellow);
}

.student-to-add-heading {
  color: #0a4f75;
  font-weight: 600;
}

.student-info {
  color: darkmagenta;
  font-size: 22px;
}